{% extends 'base.html' %}

{% block content %}
    <h2>Добро пожаловать, {{ user.username }}!</h2>

    <div id="tabs">
        <button class="tab-button" onclick="openTab('general')">Общая информация</button>
        <button class="tab-button" onclick="openTab('maintenance')">ТО</button>
        <button class="tab-button" onclick="openTab('complaints')">Рекламации</button>
    </div>
    <form method="get">
    <input type="hidden" name="active_tab" id="active_tab" value="general">
    </form>


    <div id="general" class="tab-content">
        <h3>Общая информация о машинах</h3>
        {% if can_add_car %}
            <a href="{% url 'create_car' %}" class="button">Создать новую машину</a>
        {% endif %}
        <form id="filter-form" method="get">
            <input type="text" name="tech_model" placeholder="Модель техники">
            <input type="text" name="engine_model" placeholder="Модель двигателя">
            <input type="text" name="transmission_model" placeholder="Модель трансмиссии">
            <input type="text" name="drive_axle_model" placeholder="Модель ведущего моста">
            <input type="text" name="steering_axle_model" placeholder="Модель управляемого моста">
            <button type="submit">Фильтровать</button>
        </form>
        <table>
            {% include 'car_list.html' %}
        </table>
        {% include 'pagination.html' %}
    </div>

    <div id="maintenance" class="tab-content" style="display:none;">
        <h3>Техническое обслуживание</h3>
        {% if can_add_maintenance %}
            <a href="{% url 'create_maintenance' %}" class="button">Создать новое ТО</a>
        {% endif %}
        <form method="get">
            <input type="text" name="maintenance_type" placeholder="Вид ТО">
            <input type="text" name="car__factory_number" placeholder="зав.номер машины">
            <input type="text" name="maintenance_organization" placeholder="Организация, проводившая ТО">
            <button type="submit-2">Фильтровать</button>
            </form>
        <table>

            <thead>
                <tr>
                    <th><a href="?sort=car__factory_number">Машина</a></th>
                    <th><a href="?sort=maintenance_type">Вид ТО</a></th>
                    <th><a href="?sort=date">Дата проведения</a></th>
                    <th><a href="?sort=operating_time">Наработка, м/час</a></th>
                    <th><a href="?sort=order_number">№ заказ-наряда</a></th>
                    <th><a href="?sort=order_date">Дата заказ-наряда</a></th>
                    <th><a href="?sort=maintenance_organization">Организация, проводившая ТО</a></th>
                </tr>
            </thead>
            <tbody>
                {% for maintenance in maintenances %}
                    <tr onclick="window.location.href='{% url 'maintenance_details' maintenance.id %}'">
                        <td>{{ maintenance.car.factory_number }}</td>
                        <td>{{ maintenance.maintenance_type }}</td>
                        <td>{{ maintenance.date }}</td>
                        <td>{{ maintenance.operating_time }}</td>
                        <td>{{ maintenance.order_number }}</td>
                        <td>{{ maintenance.order_date }}</td>
                        <td>{{ maintenance.maintenance_organization }}</td>
                        {% if can_change_maintenance %}
                            <td><a href="{% url 'edit_maintenance' maintenance.id %}">Редактировать</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'pagination.html' %}
    </div>

    <div id="complaints" class="tab-content" style="display:none;">
        <h3>Рекламации</h3>
        <table>
            <thead>
                <tr>
                    <th><a href="?sort=car__factory_number">Машина</a></th>
                    <th><a href="?sort=failure_date">Дата отказа</a></th>
                    <th><a href="?sort=operating_time">Наработка, м/час</a></th>
                    <th><a href="?sort=failure_node">Узел отказа</a></th>
                    <th>Описание отказа</th>
                    <th><a href="?sort=recovery_method">Способ восстановления</a></th>
                    <th>Используемые запасные части</th>
                    <th><a href="?sort=recovery_date">Дата восстановления</a></th>
                    <th><a href="?sort=downtime">Время простоя техники</a></th>
                </tr>
            </thead>
            <tbody>
                {% for complaint in complaints %}
                    <tr onclick="window.location.href='{% url 'complaint_details' complaint.id %}'">
                        <td>{{ complaint.car.factory_number }}</td>
                        <td>{{ complaint.failure_date }}</td>
                        <td>{{ complaint.operating_time }}</td>
                        <td>{{ complaint.failure_node }}</td>
                        <td>{{ complaint.failure_description }}</td>
                        <td>{{ complaint.recovery_method }}</td>
                        <td>{{ complaint.parts_used }}</td>
                        <td>{{ complaint.recovery_date }}</td>
                        <td>{{ complaint.downtime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'pagination.html' %}
    </div>
    {% if can_add_reference %}
         <a href="{% url 'create_reference' %}" class="button">Добавить новую запись в справочник</a>
    {% endif %}
    <script>
        function openTab(tabName) {
            var i, tabContent, tabButtons;
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            tabButtons = document.getElementsByClassName("tab-button");
            for (i = 0; i < tabButtons.length; i++) {
                tabButtons[i].className = tabButtons[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            // Add 'active' class to the clicked button (optional)
            // evt.currentTarget.className += " active";
            document.getElementById('active_tab').value = tabName;
        }
        // Open the 'general' tab by default
        openTab('general');
        window.onload = function() {
                 openTab('general');
        }
        <script>
    $(document).ready(function() {
        $('#filter-form').on('submit', function(event) {
            event.preventDefault(); // Предотвращение перезагрузки страницы

            $.ajax({
                url: window.location.href, // Отправка формы на текущий URL
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function(data) {
                    // Обновите содержимое таблицы с новыми данными
                    $('#car-list').html($(data).find('#car-list').html());
                }
            });
        });

        $('#maintenance-filter-form').on('submit', function(event) {
            event.preventDefault(); // Предотвращение перезагрузки страницы

            $.ajax({
                url: window.location.href, // Отправка формы на текущий URL
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function(data) {
                    // Обновите содержимое таблицы с новыми данными
                    $('#maintenance-list').html($(data).find('#maintenance-list').html());
                }
            });
        });
    });
</script>
{% endblock %}