<h1>Car Details</h1>
<p>Factory Number: {{ car.factory_number }}</p>
<p>Tech Model: {{ car.tech_model.name }}</p>
<p>Engine Model: {{ car.engine_model.name }}</p>
<p>Engine Number: {{ car.engine_number }}</p>
<p>Transmission Model: {{ car.transmission_model.name }}</p>
<p>Transmission Number: {{ car.transmission_number }}</p>
<p>Drive Axle Model: {{ car.drive_axle_model.name }}</p>
<p>Drive Axle Number: {{ car.drive_axle_number }}</p>
<p>Steering Axle Model: {{ car.steering_axle_model.name }}</p>
<p>Steering Axle Number: {{ car.steering_axle_number }}</p>
<p>Supply Contract: {{ car.supply_contract }}</p>
<p>Shipping Date: {{ car.shipping_date }}</p>