{% extends 'base.html' %}

{% block content %}
<h2>Описание: {{ reference.name }}</h2>
<table class="reference-details">
    <tr>
        <th>Категория</th>
        <td>{{ reference.category }}</td>
    </tr>
    <tr>
        <th>Описание</th>
        <td>{{ reference.description|linebreaks }}</td>
    </tr>
</table>
{% if can_edit_reference %}
    <a href="{% url 'edit_reference' %}" class="button">Изменить существующий справочник</a>
{% endif %}
<a href="javascript:history.back()">Назад</a>
{% endblock %}